<div class="content">
  <div class="functions">
    <div class="search">
      @switch (filterInput) { 
        @case ("title") {
          <mat-form-field>
            <input id="titleFilter" autocomplete="false" type="text" matInput placeholder="Pesquisar por titulo..." (input)="filter($event)" />
          </mat-form-field>
        }
        @case ("deadLine") {
          <mat-form-field>
            <mat-label>Data Limite...</mat-label>
            <input matInput [matDatepicker]="datepicker" (dateInput)="filter($event)" (dateChange)="filter($event)"/>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker" />
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        }
        @case ("status"){
          <mat-form-field>
            <mat-label>Status...</mat-label>
            <mat-select [(value)]="selectionValue" (valueChange)="filter($event)">
              <mat-option [value]="statusInstance.pendente">Pendente</mat-option>
              <mat-option [value]="statusInstance.iniciado">Iniciado</mat-option>
              <mat-option [value]="statusInstance.concluido">Concluido</mat-option>
            </mat-select>
          </mat-form-field>
        }
      }
     
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeFilterType('title')">
        <mat-icon>search</mat-icon>
        <span>Filtrar por titulo</span>
      </button>
      <button mat-menu-item (click)="changeFilterType('deadLine')">
        <mat-icon>date_range</mat-icon>
        <span>Filtrar por Data Limite</span>
      </button>
      <button mat-menu-item (click)="changeFilterType('status')">
        <mat-icon>check</mat-icon>
        <span>Filtrar por Status</span>
      </button>
    </mat-menu>

    <button mat-fab extend class="add" (click)="openCreationModal()">
      <mat-icon>add</mat-icon>
      Adicionar tarefa
    </button>
  </div>
  <ul class="tasklist">
    <!--| Lista de componentes-->
    @if(filteredTaskList.length < 1){
      <p>Nenhuma tarefa encontrada...</p>
    }@else {
      @for (task of filteredTaskList; track $index) {
        <li>
          <taskcard [task]="task"></taskcard>
        </li>
      }
    }
    
  </ul>
</div>
