.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasklist{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.tasklist > li{
    margin-bottom: 20px;
}
.add{
    width: fit-content;
    padding: 1rem;
}
.functions{
    display: flex;
    margin: 20px 0;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}
.search{
    display: flex;
    align-items: center;
}
mat-form-field{
    width: 30rem;
    padding-top: 20px;
}