<div class="card_container {{ task.status.toLowerCase() }}Color">
    <header>
        <div class="title">
            <h3>{{task.title}}</h3>
            <p>{{task.deadLineDate.toLocaleDateString()}}</p>
        </div>
        <p>Status: <span [className]="task.status">{{task.status}}</span></p>
    </header>
  <p>
    {{task.shortDescription}}
  </p>
  <footer>
    <button mat-flat-button (click)="openDescriptionModal()" style="margin-right: 1rem;">Ver Detalhes</button>
    <button mat-flat-button (click)="openChangeStatusModal()">Mudar Status</button>
  </footer>
</div>
